
.main-content{
    width: 100%;
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    background-color: var(--wb-color-footer);
}
.about-us-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-bg1{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#main-content .container{
    width: 90%;
    /* background-color: tomato; */
    height: 1060px;
}

#main-content .container .box1{
    width: 100%;
    height: 500px;
    float:left;
    background-color: #002060;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
}
#main-content .container .box2{
    width: 100%;
    height: 500px;
    float:left;
    background-color: #002060;
    margin-top: 30px;
    padding:10px;
    border-radius: 10px;
}
#main-content .container .box1:hover{
    box-shadow: inset gray 0px 0px 60px -12px; 
}
#main-content .container .box2 .title, #main-content .container .box2 .sign{
    width: 100%;
    height: 20%;
    /* background-color: rgb(223, 233, 30); */
    float:left;
    line-height: 100px;
    text-align: center;
}

#main-content .container .box2 .title h1{
    color:coral;
    font-size: 50px;
}
#main-content .container .box2 .title h1 span{
    color:yellow;
}
#main-content .container .box2 .group{
    width: 100%;
    height: 60%;
    float:left;
    /* background-color: rgb(255, 0, 128); */
    padding:10px;
}
#main-content .container .box2 .group .grid1{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 5px;
    align-items: center;
}
#main-content .container .box2 .group .grid1 .box{
    padding: 20px;
    font-size: 140%;
    height: 200px;
    transform: translate(0,25%);
    transition: 0.5s;
}
#main-content .container .box2 .group .grid1 .box:hover{
    transform: scale(0.99);
    border-bottom: solid 10px tomato;
}
#main-content .container .box2 .group .grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5px;
    display: none;
}
#main-content .container .box2 .group .grid2 .box{
    padding: 20px;
    font-size: 150%;
    height: 150px;
    /* transform: translate(0,25%); */
    transition: 0.5s;
}
#main-content .container .box2 .group .grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    display: none;
}
#main-content .container .box2 .group .grid3 .box{
    padding: 10px;
    font-size: 150%;
    height: 60px;
    /* background-color: greenyellow; */
    /* transform: translate(0,25%); */
    transition: 0.5s;
}


/* ---------------------------------------------responsive--------------------------------------------------- */
@media screen and (max-width: 1200.99px) {

}
/* -------------------------------------------------810-------------------------- */
@media screen and (max-width: 810.99px) {

    #main-content{
        height: 930px;
        max-width: 900px;
    }

    #main-content .container{
        max-width: 90%;
        height: 900px;
    }
    #main-content .container .box1{
        height: 350px;
        background-color: #002060;
        margin-top: 20px;
    }
    #main-content .container .box1:hover{
        box-shadow: inset gray 0px 0px 60px -12px; 
    }
    #main-content .container .box2{
        width: 100%;
        height: 500px;
        background-color: #002060;
        margin-top: 20px;
    }
    
    #main-content .container .box2 .group{
        height: 70%;
    }
    #main-content .container .box2 .group .grid1{
        display: none;
    }
    #main-content .container .box2 .title, .sign{
        width: 100%;
        height: 10%;
        /* background-color: rgb(223, 233, 30); */
        float:left;
        line-height: 50px;
        text-align: center;
    }
    #main-content .container .box2 .title h1{
        color:coral;
        font-size: 30px;
    }
    
    #main-content .container .box2 .group .grid2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:5px;
        visibility: visible;
    }
    #main-content .container .box2 .group .grid2 .box:hover{
        transform: scale(1.1);
        border-bottom: solid 7px tomato;
        
    }
}
/* ------------------------------------------425.99-------------------------------- */
@media screen and (max-width: 425.99px) {
    #main-content{
        height: 690px;
        max-width: 425px;
    }
    #main-content .container{
        max-width: 90%;
        height: 650px;
        /* background-color: coral; */
    }
    #main-content .container .box1{
        height: 250px;
    }
    #main-content .container .box1:hover{
        box-shadow: inset gray 0px 0px 60px -12px; 
    }
    #main-content .container .box2{
        width: 100%;
        height: 350px;
    }
    #main-content .container .box2 .title, #main-content .container .box2 .sign{
        width: 100%;
        height: 10%;
        /* background-color: rgb(223, 233, 30); */
        float:left;
        line-height: 30px;
        text-align: center;
    }
    #main-content .container .box2 .title{
        margin-bottom: -20px;
    }
    #main-content .container .box2 .sign{
        margin-top: 50px;
    }
    #main-content .container .box2 .group .grid3{
        display: grid;
    }
    #main-content .container .box2 .group .grid3 .box:hover{
        transform: scale(0.99);
        border-bottom: solid 3px tomato;
    }
    #main-content .container .box2 .group .grid2{
        display: none;
    }
    
}