*{
    margin: 0;
    padding: 0;
}
.category-menu{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}
.des-marque{
    width: 80%;
    height: 100%;
    background-color: rgb(42, 37, 37);
    display: flex;
    align-items: center;
}
.request-box{
    width: 20%;
    height: 100%;
    display: flex;
    background-color: rgb(42, 37, 37);
    /* border-radius: 3%;
    border: 1px solid gray; */
}
.request-box:hover{
    background-color: rgba(245, 245, 245, 0.11);
}
.request-popup{
    width: 500px;
    height: 250px;
    margin-top: 150px;
    margin-left: 350px;
    background-color: darkgrey;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    margin-top: 200px;
    margin-left: 600px;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}
.close-icon{
    width: 500px;
    height: 40px;
    display: flex;
}
.close-icon-left{
    width: 460px;
    height: 40px;
}
.close-icon-right{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-icon-right span{
    color: whitesmoke;
    cursor: pointer;
    font-size: 30px;
}
.request-text{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
h2{
    color: whitesmoke;
}
.request-description{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.request-link{
    width: 500px;
    height: 40px;
    display: flex;
}
.request-link-left-right{
    width: 50px;
    height: 100%;
}
.request-link-center{
    width: 400px;
    height: 100%;
    border: 2px solid gray;
    border-radius: 6px;
    display: flex;
}
.request-link-center:hover{
    cursor: pointer;
    background-color: rgb(46, 45, 45);
}
.request-link-text{
    width: 330px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.request-link-icon{
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.request-link-icon span{
    color: whitesmoke;
    cursor: pointer;
    font-size: 25px;
}
.request-logo{
    width: 500px;
    height: 45px;
    display: flex;
    justify-content: center;
}
.request-logo-center{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.facebook{
    width: 180px;
    height: 100%;
    background-color: #3B5998;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook:hover{
    background-color: #2e57ad;
    cursor: pointer;
}
.facebook span{
    color: white;
    font-size: 25px;
}
.messenger{
    width: 180px;
    height: 100%;
    background-color: #55ACEE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messenger:hover{
    background-color: #66b0e8;
    cursor: pointer;
}
.messenger span{
    color: white;
    font-size: 25px;
}
.request-box span{
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
h3{
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.list-name{
    width: 100%;
    height: 5vh;
    margin-top: 7px;
    display: flex;
}
.text{
    width: 17%;
    height: 100%;
}
p{
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 9px;
}
.icon{
    width: 3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon span{
    color: white;
    font-size: 25px;
    margin-right: 0;
}
.empty{
    width: 70%;
    height:100%;
    position: relative;
}
.des-list{
    width: 100%;
    height: 41vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-flow:row wrap;
    justify-content: space-between;
}
.box{
    width: 18%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    border: 2px solid gray;
}
.img{
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
.img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4s;
}
h6 {
    font-size: 17px;
    font-family: content;
    color: white;
    bottom: 0px;
    position: absolute;
    text-shadow: 1px 1px 3px black;
    background-color: rgba(0, 0, 0, 0.524);
    width: 100%;
}
h6:hover{
    cursor: pointer;
    transform:scale(0.9);
    transition: all 0.4s;
}
/* .seemore-box{
    width: 14%;
    height: 100%;
}  */
.seemore-text{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seemore-icon{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seemore-icon a:hover{
    transform:scale(1.2);
    transition: all 0.4s;
}
.seemore-icon span{
    color: white;
    font-size: 50px;
    margin-right: 0;
}
h1{
    color: whitesmoke;
}
@media(max-width: 768px){
    .category-menu .request-box h3{
        display: none;
    }
    .list-name .text p{
        font-size: 12px;
    }
    .list-name .icon span i{
        font-size: 17px;
    }
    .des-list .box{
        width: 245px;
        height: 260px;
    }
    .des-list{
        width: 768px;
        height: 350px;
        display: flex;
    flex-direction: row;
    flex-flow:row wrap;
    justify-content: space-between;
    }
    .des-list .box{
        width: 27%;
        height: 300px;
        
    }
    .des-list .box .img{
        width: 100%;
        height: 100%;
    }
    .des-list.box.img img{
        width: 100%;
        height: 100%;
    }
    .des-list h6{
        font-size: 10px;
    }
}
