.main-content{
    width: 100%;
    max-width: 100% !important;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image:url(https://cdn.dribbble.com/users/2145141/screenshots/16970303/vox_copy.png?resize=400x0); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: calc(100vh - var(--wb-nav-top-height) - var(--wb-footer-height)) ;
}
#contact-form {
    max-width: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
}
#contact-form form label {
    display: block;
    margin-bottom: 10px;
    color: var(--wb-color-text);
}

#contact-form form input,
#contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 13px;
    border: 1px solid #26282E;
    border-radius: 4px;
    box-sizing: border-box
}


.fullname{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    color: rgb(0, 0, 0);
    justify-content: space-between;
}
.label {
    display: block;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
}

.submit-button {
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input, textarea{
    outline: 0;
    resize: none;
    color: var(--wb-color-text);
    background-color: var(--wb-color-surface);
}
