*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
hr{
    color: #FFFFFF;
    box-shadow: 5px ;
    margin-top: 10px;
}
.movie-body{
    height: auto;
    width: 100%;
    margin-top: 10px;
    /* background-color: rgb(54, 50, 50); */
}

.movie-body .categorie-title{
    font-size: 20px;
    padding: 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
   
}
.movie-body .main-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* gap: 15px; */
    flex-flow: row wrap;

}
.movie-body .main-box .box{
    width: 18%;
    height: 60vh;
    /* background-color: rgb(237, 237, 150); */
    position: relative;
    margin-top: 15px;
}
.movie-body .main-box .box img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.movie-body .main-box .box:hover{
    transform: scale(1.03);
    transition: 0.3s;
    
}
.movie-body .main-box .box .image-title{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.416);
    color: white;
    position: absolute;
    bottom: 0;
    
}
.movie-body .main-box .box:hover .image-title{
    background-color: rgba(0, 0, 0, 0.826);
    transition: 0.3s;
    

}
.movie-body .main-box .box .image-title h5{
   /* font-family:Georgia, 'Times New Roman', Times, serif; */
    margin: auto;
    left: 0;
    letter-spacing: 1px;
    position: absolute;
    font-size: 15px;
    top: 28%;
    text-align: center;
}




/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .movie-body .main-box .box{
        width: 24%;
    }
    .movie-body .main-box .box .image-title{
        width: 100%;
        height: 55px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
    .movie-body .main-box .box{
        width: 46%;
        height: 60vh;
        
    }
    .movie-body .main-box .box img{
        width: 100%;
        height: 60vh;
    }
    .movie-body .main-box .box .image-title{
        width: 100%;
        height: 70px;
        
    }
    .movie-body .main-box .box .image-title h5{
        font-size: 20px; 
    }
    
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.movie-body .main-box .box{
        width: 95%;
        height: 80vh;
        
    }
    .movie-body .main-box .box img{
        width: 100%;
        height: 80vh;
    }
    .movie-body .main-box .box .image-title{
        width: 100%;
        height: 80px;   
    }
    .movie-body .main-box .box .image-title h5{
        font-size: 25px;
        letter-spacing: 2px;
        
    }
    
}
