.slideshow-container{
  position: relative;
}

.slide-image-preview{
  width: 100%;
  height: 100%;
  max-width: 1088px;
  max-height: 530px;
  aspect-ratio: 16/9;
  border-radius: 2px;
  background-color: #212134;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  transition: background-image 0.5s ease, transform 0.5s ease;
}

.slide-in {
  transform: translateX(100%);
}

.slide-out {
  transform: translateX(-100%);
}

.prev-btn,
.next-btn{
  cursor: pointer;
  position: absolute;
  top: 45%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #69F0AE;
}

.prev-btn{
  left: 25px;
}

.next-btn{
  right: 25px;
}

.image-dots {
  position: absolute;
  bottom: 10px;
  left: 45%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  list-style: none;
}

.image-dot {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-dot.active {
  background-color: #69F0AE; /* Active dot color */
}
