.slider-container {
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    width: 500px;
    overflow: hidden;
}

img {
    width: 100%;
}

button {
    margin: 10px;
}
